@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  :root {
    --white: #fafafa; /* zinc-50 */
    --black: #18181b; /* zinc-900 */
    --orange: #fb923c; /* orange-400 */

    --background: #ffffff;
    --foreground: var(--black);
    --point: var(--orange);
  }

  .dark {
    --background: var(--black);
    --foreground: var(--white);
  }

  body {
    margin: 0;
  }
}

@layer components {
  li::marker {
    color: #71717a !important;
  }

  ul ul {
    list-style-type: circle !important;
  }

  ul ul ul {
    list-style-type: square !important;
  }

  .prose {
    h1,
    h2,
    h3,
    h4 {
      margin: 0 !important;
      line-height: 1.3 !important;
      padding: 20px 0 10px 0 !important;
    }

    h1 {
      font-size: 30px !important;
    }

    p {
      margin: 0 !important;
      padding: 0 !important;
    }

    br {
      display: block !important;
      width: 1px !important;
      height: 24px !important;
    }
  }

  .dark {
    h1,
    h2,
    h3,
    h4 {
      color: #ffffff;
    }

    p,
    ul,
    ol {
      color: #a1a1aa;
    }
  }

  .icon {
    :hover {
      color: #a1a1aa;
    }

    svg {
      width: 20px;
      height: 20px;
    }
  }
}
