@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    margin: 0;
  }

  .prose {
    h1,
    h2,
    h3,
    h4 {
      margin: 0 !important;
      line-height: 1.3 !important;
      padding: 20px 0 10px 0 !important;
    }

    h1 {
      font-size: 30px !important;
    }

    p {
      margin: 0 !important;
      padding: 0 !important;
    }

    br {
      display: block !important;
      width: 1px !important;
      height: 24px !important;
    }
  }
}

@layer components {
  li::marker {
    @apply !text-zinc-600;
  }

  ul ul {
    list-style-type: circle !important;
  }

  ul ul ul {
    list-style-type: square !important;
  }
}
